<nav class="student-bottom-nav" aria-label="Student navigation"><div class="bottom-nav-inner">
  <a class="bottom-nav-link" data-route="pages/student/index.html" href="#"><span class="material-symbols-outlined" aria-hidden="true">home</span><span>Home</span></a>
  <a class="bottom-nav-link" data-route="pages/student/play.html" href="#"><span class="material-symbols-outlined" aria-hidden="true">sports_esports</span><span>Play</span></a>
  <a class="bottom-nav-link" data-route="pages/student/cards.html" href="#"><span class="material-symbols-outlined" aria-hidden="true">style</span><span>Cards</span></a>
  <a class="bottom-nav-link" data-route="pages/student/progress.html" href="#"><span class="material-symbols-outlined" aria-hidden="true">monitoring</span><span>Progress</span></a>
  <a class="bottom-nav-link" data-route="pages/student/profile.html" href="#"><span class="material-symbols-outlined" aria-hidden="true">person</span><span>Profile</span></a>
</div></nav>
